<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <section id="login">
            <form action="/login" method="post">
                <label for="username">Nombre de usuario:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Contraseña:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Iniciar sesión">
            </form>
        </section>
        <section id="registro">
            <form action="/register" method="post">
                <label for="username">Nombre de usuario:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Contraseña:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Iniciar sesión">
            </form>
        </section>
    </main>

</body>

</html>