<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        {% if not token %}
        <div>
            <section id="login">
                <h1>Iniciar Sesión</h1>
                <form action="/login" method="post">
                    <label for="username">Nombre de usuario:</label><br>
                    <input type="text" id="username" name="username"><br>
                    <label for="password">Contraseña:</label><br>
                    <input type="password" id="password" name="password"><br>
                    <input type="submit" value="Iniciar sesión">
                </form>
            </section>
            <section id="registro">
                <h1>Registrase</h1>
                <form action="/register" method="post">
                    <label for="username">Nombre de usuario:</label><br>
                    <input type="text" id="username" name="username"><br>
                    <label for="password">Contraseña:</label><br>
                    <input type="password" id="password" name="password"><br>
                    <input type="submit" value="Iniciar sesión">
                </form>
            </section>
        </div>
        {% endif %}

        {% if token %}
        <div>
            <!-- registrar venta -->
            <section id="registrar-venta">
                <h1>Registrar Venta</h1>
                <form action="/ventas" method="post">
                    <label for="producto">Producto:</label><br>
                    <input type="text" id="producto" name="producto"><br>
                    <label for="cantidad">Cantidad:</label><br>
                    <input type="number" id="cantidad" name="cantidad"><br>
                    <label for="precio">Precio:</label><br>
                    <input type="number" id="precio" name="precio"><br>
                    <input type="submit" value="Registrar venta">
                </form>
        </div>
        {% endif %}
    </main>

</body>
<script src="index.js"></script>

</html>